TESTING_REPOS/*
QLDBs/*
items.json
*__page_data.html
*__results.json
local_mount/*
node_modules/*

tests/diagnose-npm-package.py
tests/TESTING_REPOS/*
tests/default_filter_config.json
tests/local_mount/*

__pycache__/*
.cache/*
